<a href="https://colab.research.google.com/github/bimasaktikr/Verifikasi-Kemiskinan-Regsosek/blob/main/Verifikasi_Lapangan_Regsosek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [ ]:
from pathlib import Path
import pandas as pd
import numpy
# from google.colab import files
from google.colab import drive

drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

*Import Data*

# Import Data

In [ ]:
path_art = "/content/drive/MyDrive/00. Verifikasi Lapangan Regsosek/aaaa.csv"
path_rt = "/content/drive/MyDrive/00. Verifikasi Lapangan Regsosek/t_rt.csv"
#path_rt = "/content/drive/MyDrive/00. Verifikasi Lapangan Regsosek/export-t_rt.csv"

# Membaca file CSV
df_art = pd.read_csv(path_art, sep='\t', dtype='str')
df_art.columns = ['kode_prov','kode_kab','kode_kec','kode_desa','kode_sls','kode_subsls','id_rt','id_art','r110','r401','r402','r403','r404','r405','r406_tgl','r406_bln','r406_thn','r407','r408','r409','r410','r411','r412','r413','r414','r415','r416a','r416b','r417','r417_desk','r418','r419','r420a','r420b','r421','r421_desk','r422','r423','r424','r425','r426','r427','r428a','r428b','r428c','r428d','r428e','r428f','r428g','r428h','r428i','r428j','r429','r430','r431a','r431b','r431c','r431d','r431e','r431f','flag_nik_match','listwarning','listerror']

df_rt = pd.read_csv(path_rt, dtype=str)
# df_rt = pd.read_excel(path_rt)
df_rt.columns = ['kode_prov','kode_kab','kode_kec','kode_desa','kode_sls','kode_subsls','id_rt','sls_nama','alamat','r108','nama_kk','r109','r110','r111','r112','r113','r114','r115','r116','kues1','kues2','r201_tgl','r201_bln','r201_thn','r202_kode','r202_nama','r202_id','r203_tgl','r203_bln','r203_thn','r204_kode','r204_nama','r204_id','r205','ttd_pcl','ttd_pml','ttd_responden','hp_responden','r301a','r301b','r302','r303','r304','r305','r306a','r306b','r307a','r307b1','r307b2','r307b3','r308','r309a','r309b','r310','r501a_k1','r501a_k2_bln','r501a_k2_thn','r501b_k1','r501b_k2_bln','r501b_k2_thn','r501c_k1','r501c_k2_bln','r501c_k2_thn','r501d_k1','r501d_k2_bln','r501d_k2_thn','r501e_k1','r501e_k2_bln','r501e_k2_thn','r501f_k1','r501f_k2_bln','r501f_k2_thn','r501g_k1','r501g_k2_bln','r501g_k2_thn','r502a','r502b','r502c','r502d','r502e','r502f','r502g','r502h','r502i','r502j','r502k','r502l','r502m','r502n','r503a','r503b','r504a','r504b','r504c','r504d','r504e','r505','r506','r601','catatan','status_dok','insert_operator','clean_by','force_by','kode_operator','jumlah_entri','start_entry','end_entry','status_force','cat_force','is_fatal','cat1','cat2','cat3','cat4','cat5','user_locked','time_locked','flag_locked','versi_rule','listwarning','is_force_clean','listerror','last_modified_time','last_modified_user','force_clean_time','listanomali','aftanomali','op_anomali','tgl_anomali']

# print(df_art.shape)
# print(df_rt.shape)

KeyboardInterrupt: ignored

In [ ]:
# Menampilkan jumlah baris dan kolom data
# print(df_art.shape)
# print(df_rt.shape)
# print(df_art)
# print(df_rt)

# Membuat id rumahtangga

In [ ]:

#menambahkan id_rt_new

df_art['id_rt_new'] = df_art['kode_prov'] + df_art['kode_kab'] + df_art['kode_kec'] + df_art['kode_desa'] + df_art['kode_sls'] + df_art['kode_subsls'] + + df_art['id_rt']
df_rt['id_rt_new'] = df_rt['kode_prov'] + df_rt['kode_kab'] + df_rt['kode_kec'] + df_rt['kode_desa'] + df_rt['kode_sls'] + df_rt['kode_subsls'] + + df_rt['id_rt']


# print(df_rt)

In [ ]:
# print(df_rt)
# print(df_art)

# Filter 1 - Tanpa Anak KOS tanpa ART PNS

In [ ]:
rt_join_art = pd.merge(left=df_rt, right=df_art, left_on="id_rt_new", right_on="id_rt_new")

In [ ]:
rt_join_art.shape

In [ ]:

# df_tanpakos = rt_join_art.loc[~((rt_join_art['r112']=='1') &
#                           (rt_join_art['r301a']=='2') &
#                           (rt_join_art['r412']=='2'))]
                          
id_rt_new_kos = rt_join_art.loc[((rt_join_art['r112']=='1') &
                          (rt_join_art['r301a']=='2') &
                          (rt_join_art['r412']=='2')), "id_rt_new"]


# id_rt_new_kos

In [ ]:
id_rt_new_PNS = rt_join_art.loc[rt_join_art['r418'] == '5', "id_rt_new"]
# id_rt_new_PNS

In [ ]:
# KRT TIDAK TINGGAL DIRUMAH

df_rt_new_umurKRT_nan = rt_join_art.loc[(rt_join_art['r401'] == '1') & (rt_join_art['r407'].isna()), "id_rt_new"]     
# df_rt_new_umurKRT_nan

In [ ]:
filter = [id_rt_new_kos  , id_rt_new_PNS, df_rt_new_umurKRT_nan]

filter_concat = pd.concat(filter)

# filter_concat

In [ ]:
df_rt_filter1 = df_rt.loc[~(df_rt['id_rt_new'].isin(filter_concat))]
# df_rt_filter1

EXPORT PROGRESS - TANPA KOS TANPA PNS

In [ ]:
# Export the DataFrame to a CSV file
# df_rt_filter1.to_csv('file.csv', index=False)

# # Download the CSV file to your local machine
# from google.colab import files
# files.download('file.csv')

# Filter 2 - 9 Variabel

In [ ]:
# df['B'] = df['A'].apply(lambda x: 1 if x == 4 else 0)

**Filter 9 Variabel**

In [ ]:
df_final = df_rt_filter1

#check apakah ada data NaN di R112 atau R302
df_final_filter_Nan = df_final.loc[df_final['r112'].isna() ]
df_final_filter_Nan = df_final_filter_Nan.loc[df_final_filter_Nan['r302'].isna() ]

#remove semua data dengan NaN Value di R112 atau R302
df_final_dropNA = df_final.dropna(subset=['r112', 'r302'])



df_final_dropNA.shape
# df_final ['v1'] = df_final.apply(lambda row: 1 if int(row['r302']) / int(row['r112']) < 7 else 0, axis=1)

Filter Variabel 1 - Rumah Tangga Dengan Luas Perkapita dibawah 7m2

In [ ]:
# df_final_dropNA

df_final_dropNA['v1'] = df_final_dropNA.apply(lambda row: 1 if ((int(row['r302']) / int(row['r112']) < 7 ) and (row['r301a'] != 4)) else 0, axis=1)

df_final_dropNA_v1_True = df_final_dropNA.loc[df_final_dropNA['v1'] == 1]
df_final_dropNA_v1_True

Jenis Lantai Terluas

In [ ]:
df_final_dropNA.shape

df_final_dropNA['v2'] = df_final_dropNA.apply(lambda row: 1 if ((int(row['r302']) / int(row['r112']) < 7 ) and (row['r303'] != 1)) else 0, axis=1)

df_final_dropNA_v2_True = df_final_dropNA.loc[df_final_dropNA['v2'] == 1]
df_final_dropNA_v2_True

Jenis Dinding Terluas

In [ ]:
# df_final_dropNA

df_final_dropNA['v3'] = df_final_dropNA.apply(lambda row: 1 if (((int(row['r302']) / int(row['r112']) < 7 ) and (row['r304'] == 1)) or (row['r304']!= "1")) else 0, axis=1)

df_final_dropNA_v3_True = df_final_dropNA.loc[df_final_dropNA['v3'] == 1]
df_final_dropNA_v3_True

Variabel 4 - Jenis Atap Terluas 
Selain Beton dengan LPK 6m

In [ ]:
# df_final_dropNA

df_final_dropNA['v4'] = df_final_dropNA.apply(lambda row: 1 if ((int(row['r302']) / int(row['r112']) < 7 ) and (row['r305'] != 1)) else 0, axis=1)

df_final_dropNA_v4_True = df_final_dropNA.loc[df_final_dropNA['v4'] == 1]
df_final_dropNA_v4_True

Variabel 5 - Sumber Air Minum Utama 
LPK < 7 -> Air Kemasan, Aor Isi Ulang & Leding
dan semua kode 4,5,6,7,8,9,10,11

In [ ]:
# df_final_dropNA
v5 = ['1', '2', '3']

df_final_dropNA['v5'] = df_final_dropNA.apply(lambda row: 1 if (((int(row['r302']) / int(row['r112']) < 7 ) and (row['r306a'] in v5 )) or (row['r306a'] not in v5 )) else 0, axis=1)

df_final_dropNA_v5_True = df_final_dropNA.loc[df_final_dropNA['v5'] == 1]
df_final_dropNA_v5_True

Variabel 6 - Daya Listrik 

LPK < 7 => bukan listri, 450w atau 900 w

In [ ]:
# df_final_dropNA
v6 = ['1', '2', '4']

df_final_dropNA['v6'] = df_final_dropNA.apply(lambda row: 1 if (((int(row['r302']) / int(row['r112']) < 7 ) and (row['r307a'] in v6 )) and (row['r307b1'] in ['1', '2'] )) else 0, axis=1)

df_final_dropNA_v6_True = df_final_dropNA.loc[df_final_dropNA['v6'] == 1]
df_final_dropNA_v6_True

Variabel 7 - Bahan bakar Memasak 

LPK < 7 => 308 [1,4,7,,9,10,00]

In [ ]:
# df_final_dropNA
v7 = ['1', '4', '7', '9', '10', '00', '0', '11']

df_final_dropNA['v7'] = df_final_dropNA.apply(lambda row: 1 if ((int(row['r302']) / int(row['r112']) < 7 ) and (row['r308'] in v7 ))  else 0, axis=1)

df_final_dropNA_v7_True = df_final_dropNA.loc[df_final_dropNA['v7'] == 1]
df_final_dropNA_v7_True

Variabel 8 - Fasilitas BAB

LPK < 7 => memiliki sendiri OR tidak memiliki

In [ ]:
# df_final_dropNA

df_final_dropNA['v8'] = df_final_dropNA.apply(lambda row: 1 if (((int(row['r302']) / int(row['r112']) < 7 ) and (row['r309a'] in ['1','2'])) or (row['r309a'] not in [ '1', '2']))  else 0, axis=1)

df_final_dropNA_v8_True = df_final_dropNA.loc[df_final_dropNA['v8'] == 1]
df_final_dropNA_v8_True

Variabel 9 - Kepemilikan Aset

keluarkan Mobil, Kapal, AC, Water Heater

In [ ]:
# df_final_dropNA['r502c']

df_final_dropNA['v9'] = df_final_dropNA.apply(lambda row: 1 if (row['r502c'] == '2' or row['r502d'] == '2' or row['r502k'] == '2' or row['r502m'] == '2')  else 0, axis=1)

df_final_dropNA_v9_True = df_final_dropNA.loc[df_final_dropNA['v9'] == 1]
df_final_dropNA_v9_True

Variabel 10 - Umur KRT
Laki-Laki >50 perempuan >45

In [ ]:
#join ART dengan RT hasil Filter
rt_join_art_filtered = pd.merge(left=df_final_dropNA, right=df_art, left_on="id_rt_new", right_on="id_rt_new")
rt_join_art_filtered

In [ ]:
rt_join_art_filtered['v10'] = rt_join_art_filtered.apply(lambda row: 1 if ((row['r401'] == '1' and row['r405'] == '1' and int(row['r407']) >= 50) or (row['r401'] == '1' and row['r405'] == '2' and int(row['r407']) >= 45))  else 0, axis=1)

rt_join_art_filtered_v10_True = rt_join_art_filtered.loc[rt_join_art_filtered['v10'] == 1]
rt_join_art_filtered_v10_True.shape

id_rt_new_umurKRT = rt_join_art_filtered_v10_True['id_rt_new']
id_rt_new_umurKRT

In [ ]:
umurkrt = list(id_rt_new_umurKRT)
umurkrt

In [ ]:
pendidikan_tinggi = ['18', '19', '20', '21', '22']
rt_join_art_filtered['v11'] = rt_join_art_filtered.apply(lambda row: 1 if (row['r415'] not in pendidikan_tinggi )  else 0, axis=1)

rt_join_art_filtered_v11_True = rt_join_art_filtered.loc[rt_join_art_filtered['v11'] == 1]
id_rt_new_pendidikanKRT = rt_join_art_filtered_v11_True['id_rt_new']
id_rt_new_pendidikanKRT = id_rt_new_pendidikanKRT.drop_duplicates()
id_rt_new_pendidikanKRT

In [ ]:
#membuat variabel v10 di dataframe utama
df_final_dropNA['id_rt_new']
df_final_dropNA['v10'] = df_final_dropNA.apply(lambda row: 1 if (row['id_rt_new'] in umurkrt )  else 0, axis=1)

df_final_dropNA_v10_True = df_final_dropNA.loc[df_final_dropNA['v10'] == 1]
df_final_dropNA_v10_True

In [ ]:
#membuat variabel v11 di dataframe utama
pendidikanKrt = list(id_rt_new_pendidikanKRT)

df_final_dropNA['v11'] = df_final_dropNA.apply(lambda row: 1 if (row['id_rt_new'] in pendidikanKrt )  else 0, axis=1)

df_final_dropNA_v11_True = df_final_dropNA.loc[df_final_dropNA['v11'] == 1]
df_final_dropNA_v11_True

In [ ]:
df_final_dropNA

In [ ]:
# Export the DataFrame to a CSV file
df_final_dropNA.to_csv('dataframe_with_variabel_1-11.csv', index=False)

# Download the CSV file to your local machine
from google.colab import files
files.download('dataframe_with_variabel_1-11.csv')

In [ ]:
df_final_dropNA['Total'] = df_final_dropNA[['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11']].sum(axis=1)
df_final_dropNA['Total']

In [ ]:
df_final_dropNA.sort_values(by=['Total'], ascending=False)

In [ ]:
df_final_Total_11= df_final_dropNA.loc[df_final_dropNA['Total'] == 11]
df_final_Total_11

In [ ]:
# Export the DataFrame to a CSV file
df_final_dropNA.to_csv('dataframe_with_variabel_1-11_Total.csv', index=False)

# Download the CSV file to your local machine
from google.colab import files
files.download('dataframe_with_variabel_1-11_Total.csv')

In [ ]:
df_final_dropNA['Total_1-9'] = df_final_dropNA[['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9']].sum(axis=1)
df_final_dropNA['Total_1-9']

***RUN AFTER EXPORT***#

In [ ]:
path_Result = "/content/drive/MyDrive/00. Verifikasi Lapangan Regsosek/Result/dataframe_with_variabel_1-11.csv"

# Membaca file CSV
df_result = pd.read_csv(path_Result, sep=',')
df_result

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (37,54,95,106,130) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,kode_prov,kode_kab,kode_kec,kode_desa,kode_sls,kode_subsls,id_rt,sls_nama,alamat,r108,...,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11
0,35,73,10,1,1,0,2,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,hDFvZnrnnEaM4XkGjYsFpQ==,...,0,0,0,1,0,0,0,1,0,1
1,35,73,10,1,1,0,3,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,xUeJtxbLjao=,...,0,0,0,1,0,0,0,1,1,1
2,35,73,10,1,1,0,4,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gitVLFA+/mtjyVxz46Hbo4k=,pK3LrYV2dqMIIo4DcisstQ==,...,0,0,0,1,0,0,0,1,1,1
3,35,73,10,1,1,0,5,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,mQVMBNpFBMtdmM4wkZwHRQ==,...,0,0,0,1,0,0,0,1,1,1
4,35,73,10,1,1,0,6,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,TcsxjlTla7MduDtbqctR+A==,...,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204567,35,73,50,12,50,0,29,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/K4v49LXCxqY=,xP93QGyfQuOR49WbzlHfRg==,...,0,0,0,1,0,0,0,1,0,1
204568,35,73,50,12,50,0,30,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/pnEu/Aj+XK0=,k+EQIql/lotqIUby0YNqbFcPrIfHmNpi,...,0,0,0,1,0,0,0,1,0,0
204569,35,73,50,12,50,0,31,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/PiSPWySn/SY=,UMaE/6YDLn0=,...,0,0,0,1,0,0,0,1,1,1
204570,35,73,50,12,50,0,32,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/bLdwVTl5uiw=,fPfXX6bwWz8w0p+McL3O6luPnK/H3HtU,...,0,0,0,1,0,0,0,1,0,1
204571,35,73,50,12,50,0,35,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/Dfy/Gwo1/DY=,wrZLiVVSh3PTciuj+QU2a3ouyK7Xky/w,...,0,0,0,1,0,0,0,1,1,0

In [ ]:
df_result['Total_1-9'] = df_result[['v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9']].sum(axis=1)
df_result

,kode_prov,kode_kab,kode_kec,kode_desa,kode_sls,kode_subsls,id_rt,sls_nama,alamat,r108,...,v3,v4,v5,v6,v7,v8,v9,v10,v11,Total_1-9
0,35,73,10,1,1,0,2,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,hDFvZnrnnEaM4XkGjYsFpQ==,...,0,0,1,0,0,0,1,0,1,2
1,35,73,10,1,1,0,3,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,xUeJtxbLjao=,...,0,0,1,0,0,0,1,1,1,2
2,35,73,10,1,1,0,4,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gitVLFA+/mtjyVxz46Hbo4k=,pK3LrYV2dqMIIo4DcisstQ==,...,0,0,1,0,0,0,1,1,1,2
3,35,73,10,1,1,0,5,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,mQVMBNpFBMtdmM4wkZwHRQ==,...,0,0,1,0,0,0,1,1,1,2
4,35,73,10,1,1,0,6,RT 001 RW 001,ImIQHLWc801Br/9jEWr1gj4fIPWuH1/Q,TcsxjlTla7MduDtbqctR+A==,...,0,0,1,0,0,0,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204567,35,73,50,12,50,0,29,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/K4v49LXCxqY=,xP93QGyfQuOR49WbzlHfRg==,...,0,0,1,0,0,0,1,0,1,2
204568,35,73,50,12,50,0,30,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/pnEu/Aj+XK0=,k+EQIql/lotqIUby0YNqbFcPrIfHmNpi,...,0,0,1,0,0,0,1,0,0,2
204569,35,73,50,12,50,0,31,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/PiSPWySn/SY=,UMaE/6YDLn0=,...,0,0,1,0,0,0,1,1,1,2
204570,35,73,50,12,50,0,32,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/bLdwVTl5uiw=,fPfXX6bwWz8w0p+McL3O6luPnK/H3HtU,...,0,0,1,0,0,0,1,0,1,2
204571,35,73,50,12,50,0,35,RT 004 RW 008,FpMiA+2P70yBD/ncJdZBPbg3sRHBEQg/Dfy/Gwo1/DY=,wrZLiVVSh3PTciuj+QU2a3ouyK7Xky/w,...,0,0,1,0,0,0,1,1,0,2

In [ ]:
df_final_Total_morethan7= df_result.loc[df_result['Total_1-9'] >= 7]
df_final_Total_morethan7

,kode_prov,kode_kab,kode_kec,kode_desa,kode_sls,kode_subsls,id_rt,sls_nama,alamat,r108,...,v3,v4,v5,v6,v7,v8,v9,v10,v11,Total_1-9
134,35,73,10,1,4,0,19,RT 004 RW 001,K1lsGDp/umZbDGGCY9Q4DA==,hGn5JIjB+Xj8Clgs7AoASN1JGSXZ/Jln,...,0,1,1,1,0,1,1,0,1,7
141,35,73,10,1,4,0,26,RT 004 RW 001,K1lsGDp/umZbDGGCY9Q4DA==,a6cvX6h1z5I=,...,0,1,1,1,0,1,1,0,1,7
145,35,73,10,1,4,0,30,RT 004 RW 001,K1lsGDp/umZbDGGCY9Q4DA==,EX3jyA0+RIBYnuwsGk8oZg==,...,0,1,1,1,0,1,1,0,1,7
146,35,73,10,1,4,0,31,RT 004 RW 001,K1lsGDp/umZbDGGCY9Q4DA==,mjOQDYjiEWw=,...,0,1,1,1,0,1,1,0,1,7
159,35,73,10,1,4,0,44,RT 004 RW 001,K1lsGDp/umZbDGGCY9Q4DA==,v97bn1RSBI0qD3CAwtZiyAI8qUDwQFOE,...,0,1,1,1,0,1,1,0,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204402,35,73,50,12,47,0,20,RT 002 RW 009,SHytB35AnUaSoWsHK8GfyqtqZdySekdk,2M/p/+tXhv8MJiiNHdtF+g==,...,0,1,1,0,1,1,1,0,1,7
204404,35,73,50,12,47,0,22,RT 002 RW 009,SHytB35AnUaSoWsHK8GfyqtqZdySekdk,cZJMx/Y1bvJdUSdEuT83RA==,...,0,1,1,0,1,1,1,0,1,7
204496,35,73,50,12,49,0,10,RT 004 RW 009,E4JWIjMGAiH8D9zpimN9ADgj3pIILRlH,grIB4Uj0RIuQWON39hpstQ==,...,0,1,1,0,1,1,1,0,1,7
204503,35,73,50,12,49,0,18,RT 004 RW 009,E4JWIjMGAiH8D9zpimN9AEO55oeyumM0AjypQPBAU4Q=,wyYTAUnLonU=,...,0,1,1,0,1,1,1,0,1,7
204529,35,73,50,12,49,0,58,RT 004 RW 009,E4JWIjMGAiH8D9zpimN9AFgOPv3UVwze,mEvNDFjTjDo=,...,0,1,1,0,1,1,1,0,1,7

In [ ]:
df_final_Total_morethan8= df_result.loc[df_result['Total_1-9'] >= 8]
df_final_Total_morethan8

,kode_prov,kode_kab,kode_kec,kode_desa,kode_sls,kode_subsls,id_rt,sls_nama,alamat,r108,...,v3,v4,v5,v6,v7,v8,v9,v10,v11,Total_1-9
3492,35,73,10,2,7,0,2,RT 004 RW 002,N3Lqa56Ks/GjN7oz6GhIKw==,6N2uADNd0JJbj5yvx9x7VA==,...,0,1,1,1,1,1,1,0,1,8
3682,35,73,10,2,9,0,9,RT 001 RW 003,l5Z/eyoSkvbdms2qNEjQAOJDFXXXuOul4llKAtNyUwo=,LO4VxigbUek=,...,0,1,1,1,1,1,1,0,1,8
3855,35,73,10,2,12,0,9,RT 004 RW 003,r7Ss1Nu4COUDzE66VxiXlA==,eETFeJsycTEqUxgN06QvfQ==,...,0,1,1,1,1,1,1,0,1,8
3876,35,73,10,2,12,0,31,RT 004 RW 003,r7Ss1Nu4COVfh56Tp1FSRg==,WraGJKHRNSuXm/1+swR1/A==,...,0,1,1,1,1,1,1,0,1,8
3878,35,73,10,2,12,0,33,RT 004 RW 003,r7Ss1Nu4COUDzE66VxiXlA==,LS7dxgI7RSUCPKlA8EBThA==,...,0,1,1,1,1,1,1,0,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199582,35,73,50,11,36,0,58,RT 003 RW 004,1gqmxQF9bX3YLN2MKP+6iw==,DBZWw2yuryWN3tbewf1lwQ==,...,1,1,1,1,0,1,1,0,1,8
199857,35,73,50,11,42,0,49,RT 001 RW 005,UGo39j1f9mRzLhr91XhC9g==,SnxqEYb1nIr+ro0D+m84Cw==,...,1,1,1,1,1,1,1,1,1,9
200682,35,73,50,12,2,0,87,RT 002 RW 001,sNUFcnFWBI5ZuCLiMNAjh66pVrwwfCca,BkuLQ5mDEYjLFM8ZnK+bHg==,...,1,1,1,1,0,1,1,0,1,8
201964,35,73,50,12,14,0,131,RT 002 RW 003,NAxszVl6MghmsmtovBoAmCUgBVYC0NnA,v97bn1RSBI1pBxdCPgaXfReDuBUgLv9/AjypQPBAU4Q=,...,1,1,1,1,0,1,1,0,1,8
202168,35,73,50,12,16,0,166,RT 004 RW 003,quHeDWuLmkAObMC007Jy7fmkSdUZV9p/,aG/h4dbdbs8/auV/R/qgxg==,...,1,1,1,1,0,1,1,0,1,8

In [ ]:
# Export the DataFrame to a CSV file
df_result.to_csv('dataframe_with_variabel_1-11_Total_1-9.csv', index=False)

# Download the CSV file to your local machine
from google.colab import files
files.download('dataframe_with_variabel_1-11_Total_1-9.csv')

In [ ]:
# df_final_Total_morethan8
# Export the DataFrame to a CSV file
df_final_Total_morethan8.to_csv('dataframe_with_variabel_1-11_greaterequals8.csv', index=False)

# Download the CSV file to your local machine
from google.colab import files
files.download('dataframe_with_variabel_1-11_greaterequals8.csv')